.navbar_container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#nav #logo { color: var(--white); font-weight: bold; font-size: 1.5rem; }

#nav #logo span { color: var(--yellow); }

#nav a { text-decoration: none; color: var(--white); padding: 0.3em; margin-left: 1em; }

#nav a:hover { color: var(--yellow); }

.dashboard { background-color: #313131; }

.manage_episodes { background-color: #444444; }

.panel { max-width: 1000px; margin: 0 auto; padding: 1em 0; }

.panel.upload_panel { min-height: 200px; }

.panel.upload_panel .episodes_count { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 0.5em; }

.panel.upload_panel .episodes_count #counter { border-radius: 3px; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 0.3em 1em; font-size: 1.5rem; background-color: #292929; color: var(--grey); }

.panel.upload_panel .episodes_count > div { width: 50px; height: 50px; border-radius: 3px; background-color: #292929; color: var(--grey); cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.panel.upload_panel .episodes_count > div:hover { background-color: rgba(255, 255, 0, 0.3); }

.panel.upload_panel .episodes_count > div:hover > svg { color: white; }

.panel.upload_panel .episodes_count svg { width: 25px; height: 25px; }

.panel.upload_panel #upload_centre { width: clamp(250px, 60vw, 500px); padding: 1em; margin-top: 1em; background-color: #292929; }

@media (max-width: 500px) { .panel.upload_panel #upload_centre { width: 100%; } }

.panel.upload_panel #upload_centre input[type='file'] { display: none; }

.panel.upload_panel #upload_centre label { font-size: 0.8rem; color: var(--grey); }

.panel.upload_panel #upload_centre input, .panel.upload_panel #upload_centre textarea { border: none; background: none; padding: 0.3em; font-size: 1.2rem; border: 1px solid rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.3); color: var(--grey); -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) inset; }

.panel.upload_panel #upload_centre input:focus, .panel.upload_panel #upload_centre textarea:focus { outline: none; }

.panel.upload_panel #upload_centre input:focus, .panel.upload_panel #upload_centre textarea:focus { outline: none; outline: 1px solid var(--grey); -webkit-box-shadow: none; box-shadow: none; }

.panel.upload_panel #upload_centre input, .panel.upload_panel #upload_centre textarea, .panel.upload_panel #upload_centre button { width: 100%; padding: 0.3em; font-size: 1.2rem; font-family: inherit; resize: unset; }

.panel.upload_panel #upload_centre button[type='submit'] { border: none; background: none; cursor: pointer; font-size: 1.2rem; margin-top: 0.5em; width: 40%; color: white; background-color: rgba(255, 255, 0, 0.3); }

.panel.upload_panel #upload_centre button[type='submit']:hover { outline: none; color: black; font-weight: bold; background-color: var(--yellow); }

.panel.upload_panel #upload_centre button[disabled] { background-color: rgba(0, 0, 0, 0.1); color: var(--grey); opacity: 0.4; pointer-events: none; }

.episodes_container h2 { margin-bottom: 1em; }

.episode { border-radius: 3px; background-color: #5f5f5f; padding: 0.5em; margin-bottom: 1em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.episode:hover { outline: 2px solid rgba(255, 255, 255, 0.3); }

.episode .info .episode_title { font-weight: bold; }

.episode a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.episode a svg { fill: rgba(0, 0, 0, 0.7); cursor: pointer; }

.episode a svg:hover { fill: #f73636; }

.episode.remove { outline: 2px solid #f73636; }
